<div class="col-md-12 well text-center">
    <div class="input-group input-group-lg">
    <form ng-submit="list.logIn()" name="myform">
    <input class="form-control text-center" ng-model="list.email" type="email" placeholder="Enter your e-mail" ng-disabled="list.logged" />
      <span class="input-group-btn">
        <input type="submit" class="btn btn-info" ng-show="!list.logged" value="Log in">
        </form>
        <button class="btn btn-info" ng-click="list.logOut()" ng-show="list.logged">Log Out</button>
      </span>
    </div>
</div>