<div class="col-md-6">
    <login-panel></login-panel>
    <add-item></add-item>
    
    <table class="table">
        <tr ng-repeat="item in list.items | filter: { 'owner' : list.search }:list.showOnlyMyTasks | filter: { 'status' : list.statusFilter } as filtered ">
            
            <td>{{item.owner}}</td>
            <td>{{item.description}}</td>
            <td>{{item.status}}</td>
            <td><input type="checkbox" value="{{ item.status }}" ng-click="list.changeStatus(item.$id)" ng-checked="{{ item.status }}"/></td>
            

            <td><button class="btn btn-info" ng-click="list.removeItem(item.$id)" ng-show="item.owner == list.owner && list.logged" >Usuń</button></td>
        </tr>
    </table>
    <filter-panel></filter-panel>
    {{filtered.length}}
</div>

